.App {
  text-align: center;
}

.lists-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ul {
  list-style-type: none;
}

input {
  font-size: 1.25rem;
  margin-top: 20px;
  font-weight: bold;
}